PORT=3031
JWT_SECRET=digitalizate-jwt-secret-2026-prod
PGHOST=postgres
PGPORT=5432
PGDATABASE=digitalizate
PGUSER=digitalizate
PGPASSWORD=digitalizate_secret
CORS_ORIGIN=https://digitalizate-murex.vercel.app